<div [className]="'about-section'">
  <h2>About Patient Manager</h2>
  <p>
    This is a healthcare system that will help you manage
    patient recommendations. The system has a few sections
    that will allow you to have access to the data of the 
    patients in the system. 
  </p>
  <p>
    First of all, login into the system so you can properly
    access the features of the system.
  </p>
  <p>
    After that, click on the patient section to access the
    data of the patients. In this section, a list of patients
    will be displayed, click on a patient in the list and
    you will be able to see his recommendations.
  </p>
  <p>
    In the recommendations section, you will be able
    to manage all the patient recommendations.
  </p>
</div>